@import "tailwindcss";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	width: 100%;
	overflow: hidden;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, sans-serif;
}

/* Custom utilities */
.btn {
	padding-inline: 1rem;
	padding-block: 0.5rem;
	border-radius: 9999px;
	transition: all 0.2s;
}

.btn-primary {
	background-color: white;
	color: black;
	font-weight: 500;
}

.btn-secondary {
	background-color: rgb(0 0 0 / 0.5);
	color: white;
}
